#contacto {
	padding-top: 91px;
	label {
		font-size: 12px;
		@include interstate-light; 
	}
}

#contacto {
  padding-top: 91px; }
  #contacto label {
    font-size: 12px;
    font-family: "Interstate Light" !important;
    font-weight: normal;
    font-style: normal; }

#homepage-container {
  margin-top: 350px;
}

.homepage {
  font-family: "Interstate Light" !important;
  font-size: 20px;
  color: #B5BFC9 !important; 
}

#fieldformBuilderFieldName {
  width: 300px !important;
}

#fieldformBuilderFieldEmail {
  width: 300px !important;
}
#fieldformBuilderFieldComments {
  width: 300px !important;
}

.formBuilderLabelRequired {
  font-family: "Interstate Light" !important;
}

.formBuilderLabel {
  font-family: "Interstate Light" !important;
}

.fieldformBuilderFieldName {
  font-family: "Interstate Light" !important;
}

.fieldformBuilderFieldEmail {
  font-family: "Interstate Light" !important;
}

.formBuilderSubmit {
  font-family: "Interstate Light" !important;
}

.thumb-slide {
  padding-left: 1px;
}