.projects-grid {
	@media #{$sm-down} {
		padding-top: 21px;
	}
	li {
		float: left;
		padding: 1px;
		padding: rem(1);
		width: 24.95%;
		@media #{$sm-down} {
			width: 100%;
		}
		a {
			display: block;
			position: relative;
			&:hover {
				.overlay {
					color: $gray-dark;
					// display: block;
					opacity: 1;
					@include transition(opacity 0.3s ease-in-out);
				}
			}
			img {
				width: 100%;
				height: auto;
			}
			.overlay {
				color: $gray-dark;
				// display: none;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 24px 7px 7px 24px;
				padding: rem(24) rem(7) rem(7) rem(24);
				background: rgba($gray-lighter, 0.9);
				opacity: 0;
				@include transition(opacity 0.3s ease-in-out);
				h4 {
					@include interstate-black;
					font-size: 18px;
					letter-spacing: 0.11em;
					text-transform: uppercase;
				}
				div {
					margin: 21px 0;
					margin: rem(21) 0;
				}
				span,
				small {
					display: block;
					line-height: 11px;
					line-height: rem(11);
				}
				span.name {
					@include interstate;
					font-size: 11px;
				}
				span.year {
					@include interstate-light;
					font-size: 11px;
				}
				small.location {
					@include interstate-light;
					font-size: 10px;
				}
			}
		}
		&.systems {
			a {
				.overlay {
					h4 {
						color: $brand-systems;
					}
				}
			}
		}
		&.spaces {
			a {
				.overlay {
					h4 {
						color: $brand-spaces;
					}
				}
			}
		}
		&.objects {
			a {
				.overlay {
					h4 {
						color: $brand-objects;
					}
				}
			}
		}
		&.on-highlight {
			opacity: 0.3;
		}
		&.highlighted {
			a {				
				.overlay {
					// display: block;
					opacity: 1;
				}
			}
		}
	}
}

.nav-project-grid-filters {
	text-align: right;
	margin-top: 35px;
	margin-top: rem(35);
	font-size: 12px;
	font-size: rem(12);
	@include interstate-light;
	li {
		a {
			color: $gray-dark;
			&:after {
				content: " ";
				width: 7px;
				height: 7px;
				margin: 7px 0 0 7px;
				display: block;
				float: right;
			}
			&:hover,
			&.active {
				&:after {
					content: " ";
					width: 7px;
					height: 7px;
					background: $gray-dark;
					margin: 7px 0 0 7px;
					display: block;
					float: right;
				}
			}
			&.spaces,
			&.objects,
			&.systems {
				&:after {
					content: " ";
					width: 7px;
					height: 7px;
					margin: 7px 0 0 7px;
					display: block;
					float: right;
				}
			}
			&.spaces {
				&:hover,
				&.active {
					&:after {
						background: $brand-spaces;
					}
				}
				color: $brand-spaces;
			}
			&.objects {
				&:hover,
				&.active {
					&:after {
						background: $brand-objects;
					}
				}
				color: $brand-objects;
			}
			&.systems {
				&:hover,
				&.active {
					&:after {
						background: $brand-systems;
					}
				}
				color: $brand-systems;
			}
		}
	}
}

.nav-project-items-mini-grid {
	width: 120px;
	margin-top: 35px;
	margin-top: rem(35);
	float: right;
	padding-right: 11px;
	@include clearfix;
	li {
		float: left;
		width: 24.95%;
		padding: 1px;
		a {
			display: block;
			height: 18px;
			background: $brand-spaces;
			margin: 0;
			@include box-shadow(inset 0px 0px 7px 0px white);
		}
		&.spaces {
			a {
				background: $brand-spaces;
				&:hover,
				&.active {
					background: lighten($brand-spaces, 14%);
				}
			}
		}
		&.objects {
			a {
				background: $brand-objects;
				&:hover,
				&.active {
					background: lighten($brand-objects, 14%);
				}
			}
		}
		&.systems {
			a {
				background: $brand-systems;
				&:hover,
				&.active {
					background: lighten($brand-systems, 14%);
				}
			}
		}
	}
}

.project-info {
	margin-top: -120px;
	text-align: right;
	.project-name,
	.project-info {
		font-size: 11px;
		line-height: 0.7;
		display: block;
	}
	.project-name {
		@include interstate;
	}
	.project-year {
		@include interstate-light;
		font-size: 11px;
		color: $gray;
	}
}

.project-description-trigger {
	position: absolute;
	width: 20px;
	height: 20px;
	display: block;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background: url(../assets/icons/slider-toggle-off.png) no-repeat center center;
	&.on {
		background: url(../assets/icons/slider-toggle-on.png) no-repeat center center;
	}
}

.project-description {
	position: absolute;
	width: 240px;	
	height: 490px;
	background: rgba(white, 0.9);
	z-index: 1000;
	left: 28px;
	bottom: 0;
	overflow: hidden;
	display: none;
	.scroll-up,
	.scroll-down {
		width: 20px;
		height: 20px;
		position: absolute;
		bottom: 0;
	}
	.scroll-up {
		background: url(../assets/icons/slider-content-up.png) no-repeat center center;
		right: 20px;
	}
	.scroll-down {
		background: url(../assets/icons/slider-content-down.png) no-repeat center center;
		right: 0;
	}
	.content {
		min-height: 630px;
		position: absolute;
		padding: 21px;
		p {
			font-size: 11px;
			@include interstate-light;
			line-height: 135%;
			margin-bottom: 17px;
		}
		h5 {
			@include interstate;
			margin-bottom: 5px;
			font-size: 12px;
			color: $gray-darker;
			text-transform: capitalize;
		} 
	}
	&.on {
		display: block;
	}
}

.thumbnail-counter {
	position: absolute;
	width: 100%;
	height: 20px;
	background: rgba($gray-darker,0.7);
	z-index: 10;
	bottom: 0;
	padding-left: 28px;
	li {
		float: left;
		color: white;
		font-size: 9px;
		@include interstate-light;
		padding: 4px 5px;
	}
}

.numbers {
	@include interstate-light;
	font-size: 9px;
}

#carousel2 {
	margin-top: -23px;
	height: 16px;
	padding-top: 1px;
	background-color: rgba($gray-darker,0.7);
}

#uno {
	margin-left: 35px;
}

.loading {
  background: url(../images/31.gif) no-repeat center;
  background-color: white;
  height: 500px;
  width: 100%;
}





